.container {
    max-width: 95%;
    margin: 0 auto;
}

.header {
    background: #fd405e;
    background-repeat: no-repeat;
    background-position: 80% 100%;
    background-size: 290px auto;
    height: 317.5px;
}

.header-nav {
    display: flex;
    flex-wrap: nowrap;
}

.header-nav-logo {
    margin: 10px 0 0 10px;

    p {
        color: #fff;
        font-weight: 700;
        font-size: 37px;
        text-transform: capitalize;
    }
}

.header-nav-menu {
    width: 40%;
}

.header-nav-menu-in {
    display: none;
}

.header-nav-menu-lab {
    position: absolute;
    top: 23px;
    right: 10px;
    list-style: none;
    z-index: 2;
}

.header-nav-menu-in:checked~.header-nav-menu-block {
    left: 0;
}


.header-nav-menu-block {
    background: #fd405e;
    display: block;
    position: absolute;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 100%;
    height: 313px 555px;
    top: 0;
    transition: 0.5s;
    z-index: 1;
    line-height: 2;
}


.header-nav-menu-block-item {
    background: #fd405f;
    position: absolute;
    text-align: center;
    list-style: none;
    padding-top: 170px;
    width: 100%;
}

.menu-block-login {
    display: none;
}

.menu-block-loglab {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    right: 136px;
    top: 258px;
}

.menu-block-loglab:checked~.login-in-menu {
    left: 18%;
}

.login-in-menu {
    left: 100%;
    display: none;
}

.form-in-menu {
    background: #fd405f;
    position: absolute;
    top: 15%;
    left: -100%;
    transition: 0.3s all linear;
}

.header-nav-menu-block-items {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.header-slider {
    margin-top: 50px;
    padding: 0 10px;
}

.header-slider-head {
    color: #fff;

    p {
        font-size: 30px;
        text-transform: capitalize;
    }

    span {
        font-size: 65px;
        font-style: italic;
        display: block;
        margin-top: -25px;
    }
}

.header-slider-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 40px 10px;
    position: relative;

    span {
        position: relative;
    }
}

.header-slider-link::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 12px;
    background: url(../images/arrow.png);
    left: 0px;
}

@media only screen and (min-width: 1440px) {
    .header {
        min-height: 563px;
        background-size: 500px auto;
    }
}

@media only screen and (min-width: 1440px) {
    .header-slider {
        margin-top: 192px;
        line-height: 70px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-slider-head {
        p {
            font-size: 55px;
        }

        span {
            font-size: 119px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .header-slider-link {
        position: relative;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1170px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-nav-logo {
        padding-top: 25px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-slider-link::before {
        left: 0px;
        top: 42px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-nav-menu-block {
        position: static;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 45px 0 0 40px;
    }
}

@media only screen and (min-width: 1440px) {
    .menu-block-loglab::before {
        position: absolute;
        content:"";
        background: url(../images/login_icon.png);
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        left: 52px;
        top: -5px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-nav-menu-block-item {
        display: flex;

    }
}

@media only screen and (min-width: 1440px) {
    .header-nav-menu-lab {
        display: none;
    }

    .header-nav-menu-block-item {
        height: 0 !important;
        padding: 0;

        li {
            margin-left: 10px;
        }
    }
}


@media only screen and (min-width: 768px) {
    .header {
        background: url(../images/header_girl.png) #fd405e;
        background-repeat: no-repeat;
        background-position: 80% 100%;
        background-size: 290px 270px;
        height: 350px;
    }
}

@media only screen and (min-width: 768px) {
    .header-nav-menu-in:checked~.header-nav-menu-block {
        left: 60%;
    }
}

@media only screen and (min-width: 768px) {
    .header-nav-menu-block {
        width: 40%;
        margin: 0 auto;
        height: 134px;
    }
}

@media only screen and (min-width: 768px) {
    .header-nav-menu-block-item {
        height: 506px;
    }
}

@media only screen and (min-width: 768px) {
    .header-slider-link::before {
        left: 0px;
    }
}